<template>
  <h1>{{ labels.stats.title }}</h1>
  <button v-on:click="reload">{{ labels.stats.reload }}</button>
  <h2>{{ labels.stats.nocirco }} ({{ candidatesWithoutCirco.length }})</h2>
  <ul v-if="candidatesWithoutCirco.length > 0">
    <li v-for="item in candidatesWithoutCirco">{{ item.id }} - {{ item.name }} - {{ item.circos }}</li>
  </ul>
  <h2>{{ labels.stats.nonregistered }} ({{ circoWithNonRegistered.length }})</h2>
  <ul v-if="circoWithNonRegistered.length > 0">
    <li v-for="item in circoWithNonRegistered">{{ item.circo }} - {{ item.candidat }} - {{ item.suppleant }}</li>
  </ul>
</template>
<script>
  import { getLabels, getCandidatesWithoutCirco, getCircoWithNonRegistered } from '../../vuex/getters'
  import { reload } from '../../vuex/actions'
  export default {
    methods: {
      reload: function (event) {
        this.reload()
      }
    },
    vuex: {
      actions: {
        reload: reload
      },
      getters: {
        candidatesWithoutCirco: getCandidatesWithoutCirco,
        circoWithNonRegistered: getCircoWithNonRegistered,
        labels: getLabels
      }
    }
  }
</script>
<style scoped>
</style>
