<template>
    <div>
        <map-svg :when-selected="onSelectedCirco"></map-svg>
        <modal :show.sync="showModal">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">{{ circoNom }} ({{ selected }})</h4>
                <h5>{{ circoDesc }}</h5>
            </div>
            <div slot="modal-body" class="modal-body">
                <fieldset v-if="selectedCirco.ok">
                    <legend>{{ labels.map.candidat }}</legend>
                    {{ selectedCirco.candidat }}
                    <legend>{{ labels.map.etiquette }}</legend>
                    {{ selectedCirco.etiquette }}
                </fieldset>
                <fieldset v-else>
                    <legend v-if="selectedCirco.candidats.length > 0">{{ labels.map.candidats }}</legend>
                    <ul v-if="selectedCirco.candidats.length > 0">
                      <li v-for="item in selectedCirco.candidats">{{ item.nom }} ({{ item.circos }})</li>
                    </ul>
                    <legend v-if="selectedCirco.suppleants.length > 0">{{ labels.map.suppleants }}</legend>
                    <ul v-if="selectedCirco.suppleants.length > 0">
                      <li v-for="item in selectedCirco.suppleants">{{ item.nom }} ({{ item.circos }})</li>
                    </ul>
                    <legend v-if="selectedCirco.mandataires.length > 0">{{ labels.map.mandataires }}</legend>
                    <ul v-if="selectedCirco.mandataires.length > 0">
                      <li v-for="item in selectedCirco.mandataires">{{ item.nom }} ({{ item.circos }})</li>
                    </ul>
                </fieldset>
            </div>
            <div slot="modal-footer" class="modal-footer">
            </div>
        </modal>
    </div>
</template>

<script>
  import MapSvg from './map-svg'
  import { setSelectedCirco } from '../../vuex/actions'
  import { getSelected, getSelectedCirco, getLabels } from '../../vuex/getters'
  import { modal } from 'vue-strap'

  export default {
    components: {
      MapSvg,
      modal
    },
    data: function () {
      return {
        showModal: false,
        circoNom: '',
        circoDesc: ''
      }
    },
    methods: {
      onSelectedCirco: function (circoId, circoNom, circoDesc) {
        var isCirco = new RegExp('[0-9][0-9][0-9ab]-[0-9][0-9]')
        var isDense = new RegExp('[0-9][0-9][0-9ab]-00')
        if (isCirco.test(circoId) && !isDense.test(circoId)) {
          this.setSelectedCirco(circoId)
          this.$set('showModal', true)
          this.$set('circoNom', circoNom)
          this.$set('circoDesc', circoDesc)
        }
      }
    },
    vuex: {
      actions: {
        setSelectedCirco: setSelectedCirco
      },
      getters: {
        selectedCirco: getSelectedCirco,
        selected: getSelected,
        labels: getLabels
      }
    }
  }
</script>

<style scoped>
.modal-body img {
  float:right;
}
</style>
