<template>
  <div id="app">
<!--
    <ul>
      <li><a v-link="{ path: '/' }">Go to map</a></li>
      <li><a v-link="{ path: '/stats' }">Go to stats</a></li>
    </ul>
    -->
    <router-view></router-view>
  </div>
</template>

<script>
import store from './vuex/store'
import { load } from './vuex/actions'
import { getLabels } from './vuex/getters'

export default {
  replace: false,
  store: store,
  created: function () {
    this.load()
  },
  vuex: {
    actions: {
      load: load
    },
    getters: {
      labels: getLabels
    }
  }
}
</script>

<style>
</style>
